body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: #fffce5;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  
}

a.underlined-link {
  color: #cec155;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
  height: 40px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

a.underlined-link:after{
  content: " ";
  position: relative;
  width: 0;
  height: 5px;
  background-color: #cec155;
  bottom: -10px;
  transition: all 0.3s ease-in;
  left: 50%;
}
a.underlined-link:hover:after{
  width: 100%;
  left: 0;
}

.logo {
  margin: 5vh;
}

.contact-us {
  position: absolute;
  right: 5vh;
  top: 5vh;
  font-size: 26px;
  height: 59px;
  width: 59px;
  border: 3px solid #cec155;
  display: flex;
  color: #cec155;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}


.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 10vh;
}

@media (min-width: 1281px) {
  .container {
    width: 40%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 1024px) and (min-width: 796px){
  
  .container {
    width: 50%;
  }
  
}

@media (max-width: 796px){
  
  .container {
    width: auto;
    padding-left: 5vh;
    padding-right: 5vh;
  }
  
}

.people {
  list-style-type: none;
  padding: 80px 0;
  margin: 0;
}

.people li{
  display: flex;
  padding: 20px 0;
}

.people li .person-name {
  width: 20%;
  display: inline-block;
  flex-direction: column;
  justify-content: center;

}

.people li .person-description {
  display: inline-block;
  width: 75%;
}

