body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: #cec155;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

div {
  color: #cec155;
}

a {
  color: #cec155;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
  height: 40px;
  text-align:center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  max-width: 30px;
  font-weight: 700;
}

a:after{
  content: " ";
  position: relative;
  width: 0;
  height: 5px;
  background-color: #cec155;
  bottom: -10px;
  transition: all 0.3s ease-in;
  left: 50%;
}
a:hover:after{
  width: 100%;
  left: 0;
}


.container {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container img {
  object-fit: contain;
}

.profiles {
  padding-top: 10vh;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 1281px) {
  .profiles {
    width: 20vw;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .profiles {
    width: 40vw;
  }
}

@media (max-width: 1024px) {
  
  .profiles {
    width: 80vw;
  }
  
}
.profiles-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.coming-soon {
  font-family: serif;
  font-style: italic;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}
